{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Loan Type{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for loan in loans %}
        <div>
            <form method="post" onsubmit="return confirmSubmission()">
                <input type="hidden" name="loan_id" value="{{ loan['loan_id'] }}">

                <p>贷款类型: {{ loan['loan_type'] }}</p>
                <p>金额: {{ loan['amount'] }}</p>
                <p>利率: {{ loan['interest'] }}</p>
                <p>偿还方式: {{ loan['repay'] }}</p>
                <p>还款时长: {{ loan['loan_period'] }}</p>
                <button type="submit">申请</button>
            </form>
            <hr>
        </div>
    {% endfor %}

    <script>
        function confirmSubmission() {
            // Display a confirmation dialog
            var isConfirmed = confirm("Are you sure you want to submit the form?");

            // Return true if confirmed, false if canceled
            return isConfirmed;
        }
    </script>
{% endblock %}
