<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<title></title>
<!--Bootstrap -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
<!--Bootstrap-slider -->
<link rel="stylesheet" href="../static/css/bootstrap-slider.min.css" type="text/css">
<!--OWL Carousel slider-->
<link rel="stylesheet" href="../static/css/owl.carousel.css" type="text/css">
<!--Custome Style -->
<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<!--FontAwesome Font Style -->
<link href="../static/css/font-awesome.min.css" rel="stylesheet">
<!-- Fav and touch icons -->
<link rel="shortcut icon" href="../static/images/favicon-icon/favicon.png">
<!-- Google-Font-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <header id="header">
        <div class="header-top primary-bg">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="contact-info">
                  <ul>
                    <li><a href="mailto:contact@weburl.com">2747546199@qq.com</a></li>
                    <li>+86-15327285527</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="follow-us">
                  <a href="{{ url_for('auth.index') }}#apply" class="btn btn-xs">立即申请</a> </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Navigation -->
        <nav id="navigatio-_bar" class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <div class="logo"> <a href="{{ url_for('auth.index') }}"><img src="../static/images/logo.png" alt="image">BigDataLending</a> </div>
              <!-- /Logo -->
              
              <button id="menu-slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="nav navbar-nav">
              <li><a href="{{ url_for('auth.index') }}">首页</a></li>
              <li><a href="{{ url_for('auth.about') }}">关于我们</a></li>
              <li><a href="{{ url_for('auth.contact') }}">联系我们</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navigation end --> 
      </header>
      <!-- /Header --> 
      

<!-- Intro -->
<section class="inner-intro section-padding dark-overlay">
  <div class="container">
    <div class="inner-text white-text z-index text-center">
      <h1>关于我们</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">首页</a></li>
          <li class="breadcrumb-item active">关于我们</li>
        </ol>
      </nav>
    </div>
  </div>
</section>
<!-- /Intro --> 



<!-- Why-Choose -->
<section class="section-padding gray-bg">
  <div class="container">
    <div class="section-header text-center">
      <div class="section-title">与我们共赢</div>
      <h2>为什么是BigDataLending</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="features-box text-center">
          <div class="features-icon"> <i class="fa fa-file-o"></i> </div>
          <h5>借贷建议</h5>
          <p>你甚至都不需要登录就可以借贷</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="features-box text-center">
          <div class="features-icon"> <i class="fa fa-dollar"></i> </div>
          <h5>金融支持</h5>
          <p>我们有最先进的金融技术与工具</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="features-box text-center">
          <div class="features-icon"> <i class="fa fa-money"></i> </div>
          <h5>用户范围</h5>
          <p>我们总有适合你的产品</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="features-box text-center">
          <div class="features-icon"> <i class="fa fa-lock"></i> </div>
          <h5>安全和隐私</h5>
          <p>有强大的信息监管系统保障客户隐私</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="features-box text-center">
          <div class="features-icon"> <i class="fa fa-percent"></i> </div>
          <h5>最实惠的利率</h5>
          <p>各大借贷平台中，我们的利率最低</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="features-box text-center">
          <div class="features-icon"> <i class="fa fa-support"></i> </div>
          <h5>其他</h5>
          <p>我们的业务发展到全球70个国家</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Why-Choose --> 

<!-- Our-team --->
<section class="section-padding gray-bg">
  <div class="container">
    <div class="section-header text-center">
      <div class="section-title" id="team">我们的团队</div>
      <h2>查看我们的团队</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="team-wrap">
          <div class="member-img"> <img src="../static/images/400x400-5.jpg" alt="image">
            <div class="follow-team">
            </div>
          </div>
          <h5>Whell Smith</h5>
          <p>CEO</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-wrap">
          <div class="member-img"> <img src="../static/images/400x400-6.jpg" alt="image">
            <div class="follow-team">
            </div>
          </div>
          <h5>Eddie Adkins</h5>
          <p>金融主席</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-wrap">
          <div class="member-img"> <img src="../static/images/400x400-7.jpg" alt="image">
            <div class="follow-team">
            </div>
          </div>
          <h5>Alex Zorro</h5>
          <p>个人贷款管理主管</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-wrap">
          <div class="member-img"> <img src="../static/images/400x400-8.jpg" alt="image">
            <div class="follow-team">
            </div>
          </div>
          <h5>Angela Doe</h5>
          <p>首席架构师</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-wrap">
          <div class="member-img"> <img src="../static/images/400x400-9.jpg" alt="image">
            <div class="follow-team">
            </div>
          </div>
          <h5>Karla Smith</h5>
          <p>亚太地区负责人</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-wrap">
          <div class="member-img"> <img src="../static/images/400x400-10.jpg" alt="image">
            <div class="follow-team">
            </div>
          </div>
          <h5>Eddie Adkins</h5>
          <p>北美首席执行官</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-wrap">
          <div class="member-img"> <img src="../static/images/400x400-2.jpg" alt="image">
            <div class="follow-team">
            </div>
          </div>
          <h5>Alex Zorro</h5>
          <p>总公司CFO</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="team-wrap">
          <div class="member-img"> <img src="../static/images/400x400-3.jpg" alt="image">
            <div class="follow-team">
            </div>
          </div>
          <h5>Angela smi</h5>
          <p>COO</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Our-team --> 

<!-- Partners-Logo -->
<section id="partners" class="section-padding">
  <div class="container">
    <div class="partners-logo"> <img src="../static/images/partners-logo.png" alt="image"> <img src="../static/images/partners-logo3.png" alt="image"> <img src="../static/images/partners-logo2.png" alt="image"> <img src="../static/images/partners-logo5.png" alt="image"> <img src="../static/images/partners-logo4.png" alt="image"> <img src="../static/images/partners-logo.png" alt="image"> </div>
  </div>
</section>
<!-- /Partners-Logo --> 

<!-- Footer -->
<footer id="footer" class="secondary-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-widgets">
            <div class="footer-logo"> <img src="../static/images/logo-white.png" alt="image"> </div>
            <p><a href="mailto:contact@weburl.com"><strong>2747546199@qq.com</strong></a></p>
            <p><a href="tel:5551234564513"><strong>(+86) 15327285527</strong></a></p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4">
              <div class="footer-widgets">
                <h5>服务</h5>
                <ul>
                  <li><a href="{{ url_for('auth.index')}}#apply">购房贷款</a></li>
                  <li><a href="{{ url_for('auth.index')}}#apply">个人贷款</a></li>
                  <li><a href="{{ url_for('auth.index')}}#apply">商业贷款</a></li>
                  <li><a href="{{ url_for('auth.index')}}#apply">教育贷款</a></li>
                  <li><a href="{{ url_for('auth.index')}}#apply">购车贷款</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer-widgets">
                <h5>其他</h5>
                <ul>
                  <li><a href="{{ url_for('auth.about') }}">关于我们</a></li>
                  <li><a href="{{ url_for('auth.about') }}#team">我们的团队</a></li>
                  <li><a href="{{ url_for('auth.contact') }}">联系我们</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>版权所有 &copy; 2019.BigDataLending</p>
      </div>
    </div>
  </footer>
  <!-- /Footer --> 
  

<!-- Scripts --> 
<script src="../static/js/jquery.min.js"></script> 
<script src="../static/js/bootstrap.min.js"></script> 
<script src="../static/js/bootstrap-slider.min.js"></script> 
<!--Custome-JS--> 
<script src="../static/js/interface.js"></script> 
<!--Carousel-JS--> 
<script src="../static/js/owl.carousel.min.js"></script>
</body>
</html>
