<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>Home</title>
<!--Bootstrap -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
<!--Bootstrap-slider -->
<link rel="stylesheet" href="../static/css/bootstrap-slider.min.css" type="text/css">
<!--OWL Carousel slider-->
<link rel="stylesheet" href="../static/css/owl.carousel.css" type="text/css">
<!--Custome Style -->
<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<!--FontAwesome Font Style -->
<link href="../static/css/font-awesome.min.css" rel="stylesheet">
<!-- Fav and touch icons -->
<link rel="shortcut icon" href="../static/images/favicon-icon/favicon.png">
<!-- Google-Font-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- Header -->

<header id="header">
    <div class="header-top primary-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-info">
              <ul>
                <li><a href="mailto:2747546199@qq.com">2747546199@qq.com</a></li>
                <li><a href="tel:15327285527">+86-15327285527</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <div class="follow-us">
              <a href="{{ url_for('auth.index') }}#apply" class="btn btn-xs">立即申请</a> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navigation -->
    <nav id="navigatio-_bar" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="logo"> <a href="{{ url_for('auth.index') }}"><img src="../static/images/logo.png" alt="image">BigDataLending</a> </div>
          <!-- /Logo -->
          
          <button id="menu-slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
          <li><a href="{{ url_for('auth.index') }}">首页</a></li>
          <li><a href="{{ url_for('auth.about') }}">关于我们</a></li>
          <li><a href="{{ url_for('auth.contact') }}">联系我们</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navigation end --> 
  </header>
  <!-- /Header --> 
  

<!-- Intro -->
<section id="intro">
  <div class="owl-carousel">
    <div class="item dark-overlay" style="background-image:url(../static/images/intro-img1.jpg)">
      <div class="container">
        <div class="intro-text z-index text-center">
          <h1>提供灵活与便捷</h1>
          <a href="#apply" class="btn">申请贷款</a> </div>
      </div>
    </div>
    <div class="item dark-overlay" style="background-image:url(../static/images/intro-img2.jpg)">
      <div class="container">
        <div class="intro-text z-index text-center">
          <h1>最实惠的利率</h1>
          <a href="#apply" class="btn">申请贷款</a> </div>
      </div>
    </div>
    <div class="item dark-overlay" style="background-image:url(../static/images/intro-img3.jpg)">
      <div class="container">
        <div class="intro-text z-index text-center">
          <h1>全面的贷款类型</h1>
          <a href="#apply" class="btn">申请贷款</a> </div>
      </div>
    </div>
  </div>
</section>
<!-- /Intro --> 

<!-- Interest-rates -->
<section id="interet-rates">
  <div class="container">
    <h5>实惠的利率</h5>
    <div class="owl-carousel">
      <div class="item">
        <div class="rates-box">
          <div class="icon-box home-loan-icon"> <img src="../static/images/home-loan.png" alt="image"> </div>
          <h6>住房贷款</h6>
          <p>@9.90%</p>
        </div>
      </div>
      <div class="item">
        <div class="rates-box">
          <div class="icon-box business-loan-icon"> <img src="../static/images/business-loan.png" alt="image"> </div>
          <h6>商业贷款</h6>
          <p>@14.90%</p>
        </div>
      </div>
      <div class="item">
        <div class="rates-box">
          <div class="icon-box car-loan-icon"> <img src="../static/images/car-loan.png" alt="image"> </div>
          <h6>购车贷款</h6>
          <p>@11.90%</p>
        </div>
      </div>
      <div class="item">
        <div class="rates-box">
          <div class="icon-box ecucation-loan-icon"> <img src="../static/images/education-loan.png" alt="image"> </div>
          <h6>教育贷款</h6>
          <p>@2.90%</p>
        </div>
      </div>
      <div class="item">
        <div class="rates-box">
          <div class="icon-box personal-loan-icon"> <img src="../static/images/personal-loan.png" alt="image"> </div>
          <h6>个人贷款</h6>
          <p>@15.90%</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Interest-rates --> 



<!-- Our-Services -->
<section id="services" class="section-padding gray-bg">
  <div class="container">
    <div class="section-header text-center">
      <div class="section-title">服务</div>
      <h2>提供用户所需要的金融服务</h2>
    </div>
    <div id="our-services">
      <div class="owl-carousel">
        <div class="item text-center">
          <div class="service-icon"> <img src="../static/images/home-loan.png" alt="image"> </div>
          <h5>购房贷款</h5>
          </div>
        <div class="item text-center">
          <div class="service-icon"> <img src="../static/images/business-loan.png" alt="image"> </div>
          <h5>商业贷款</h5>
          </div>
        <div class="item text-center">
          <div class="service-icon"> <img src="../static/images/car-loan.png" alt="image"> </div>
          <h5>购车贷款</h5>
          </div>
        <div class="item text-center">
          <div class="service-icon"> <img src="../static/images/education-loan.png" alt="image"> </div>
          <h5>教育贷款</h5>
          </div>
        <div class="item text-center">
          <div class="service-icon"> <img src="../static/images/personal-loan.png" alt="image"> </div>
          <h5>个人贷款</h5>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- /Our-Services --> 

<!-- Process -->
<section id="proecess" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <div class="section-title" id="apply">简洁过程</div>
      <h2>快速且简介的申请</h2>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="steps">
          <div class="icon-wrap"> <img src="../static/images/choose-loan.png" alt="image"> <span class="steps-number">1</span> </div>
          <h5>填写借贷信息</h5>
          <p>提交个人基本信息与借贷信息</p>
        </div>
        <div class="steps">
          <div class="icon-wrap"> <img src="../static/images/get-loan.png" alt="image"> <span class="steps-number">2</span> </div>
          <h5>后台迅速审批</h5>
          <p>后台大数据模型迅速审批</p>
        </div>
        <div class="steps">
          <div class="icon-wrap"> <img src="../static/images/business-loan.png" alt="image"> <span class="steps-number">3</span> </div>
          <h5>借贷到账</h5>
          <p>贷款打入指定银行卡中</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="info-box">
          <div class="box-head">
            <h5>快速借贷</h5>
          </div>
          <div class="box-body">
            <form method="post">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="真实姓名">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="身份证号">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="银行卡号">
              </div>
              <div class="form-group">
                <label class="form-label">贷款金额:人民币</label>
                <input id="amount" type="number" pattern="\d*" class="form-control" min="50000" max="1000000" placeholder="50000~1000000">
              </div>
              <div class="form-group">
                <label class="form-label">借款周期:月</label>
                <input id="period"  type="number" pattern="\d*" class="form-control" min="12" max="360" placeholder="12~360">
              </div>
              <div class="form-group select">
                <select class="form-control" id="loan_type" onchange="updateSliderOptions()">
                  <option>购房贷款@9.90%</option>
                  <option>商业贷款@14.90%</option>
                  <option>购车贷款@11.90%</option>
                  <option>教育贷款@2.90%</option>
                  <option>个人贷款@15.90%</option>
                </select>
              </div>
              <br>
              
              <fieldset id="email_fieldset">
                <legend>邮箱验证</legend>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="个人邮箱" name="email">
                </div>
                <div class="form-group">
                  <input type="submit" value="立即验证" name="email_verify">
                </div>
              </fieldset>

                <div class="form-group">
                  <input type="text" class="form-control" placeholder="邮箱验证码">
                </div>

              <div class="form-group">
                <input type="submit" value="申请" class="btn" name="submit_loan">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Process --> 

<script>
    var inputElement = document.getElementById("loan_amount");
    var spanElement = document.getElementById("loan_amountSliderVal");

    inputElement.addEventListener("input", function() {
        spanElement.textContent = inputElement.value;
    });
</script>

<script>
        function updateSliderOptions() {

            var min = 0;
            var max = 0;

            var m_min = 0;
            var m_max = 0;

            if (document.getElementById("loan_type").selectedIndex == 0) {
                min = 50000;
                max = 1000000;

                m_min = 12;
                m_max = 360;
            } else if (document.getElementById("loan_type").selectedIndex == 1) {
                min = 100000;
                max = 2000000;

                m_min = 1;
                m_max = 60;
            } else if (document.getElementById("loan_type").selectedIndex == 2) {
                min = 50000;
                max = 500000;

                m_min = 1;
                m_max = 60;
            } else if (document.getElementById("loan_type").selectedIndex == 3) {
                min = 2000;
                max = 30000;

                m_min = 1;
                m_max = 48;
            } else if (document.getElementById("loan_type").selectedIndex == 4) {
                min = 500;
                max = 50000;

                m_min = 1;
                m_max = 24;
            }
            document.getElementById("amount").setAttribute("min", min);
            document.getElementById("amount").setAttribute("max", max);
            document.getElementById("amount").placeholder = String(min)+'~'+String(max);


            document.getElementById("period").setAttribute("min", m_min);
            document.getElementById("period").setAttribute("max", m_max);
            document.getElementById("period").placeholder = String(m_min)+'~'+String(m_max);

        }
</script>


<!-- Facts -->
<section id="facts" class="section-padding dark-overlay parallex-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="facts-box z-index">
          <div class="icon-box"><i class="fa fa-dollar"></i></div>
          <h3>2000+亿</h3>
          <p>总共交易业务金额</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="facts-box z-index">
          <div class="icon-box"><i class="fa fa-bank"></i></div>
          <h3>100+个</h3>
          <p>累计服务机构</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="facts-box z-index">
          <div class="icon-box"><i class="fa fa-clock-o"></i></div>
          <h3>30 分钟</h3>
          <p>平均审批时长</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Facts --> 

<!-- Testimonials -->
<section id="testimonials" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <div class="section-title">成就</div>
      <h2>听听专家们怎么说</h2>
    </div>
    <div class="owl-carousel">
      <div class="item">
        <div class="reviews-box">
          <div class="user-img"> <img src="../static/images/400x400.jpg" alt="image"> </div>
          <div class="user-info">
            <h5>Mary O. Randle</h5>
          </div>
          <p>大品牌，我信赖</p>
        </div>
      </div>
      <div class="item">
        <div class="reviews-box">
          <div class="user-img"> <img src="../static/images/400x400-2.jpg" alt="image"> </div>
          <div class="user-info">
            <h5>Mary O. Randle</h5>
          </div>
          <p>世界的BigDataLending</p>
        </div>
      </div>
      <div class="item">
        <div class="reviews-box">
          <div class="user-img"> <img src="../static/images/400x400-4.jpg" alt="image"> </div>
          <div class="user-info">
            <h5>Mary O. Randle</h5>
          </div>
          <p>全面的业务，超低的利率，我想不出更好的借贷公司了</p>
        </div>
      </div>
      <div class="item">
        <div class="reviews-box">
          <div class="user-img"> <img src="../static/images/400x400-5.jpg" alt="image"> </div>
          <div class="user-info">
            <h5>Mary O. Randle</h5>
          </div>
          <p>全球几乎有20%的业务来自此公司</p>
        </div>
      </div>
      <div class="item">
        <div class="reviews-box">
          <div class="user-img"> <img src="../static/images/400x400-3.jpg" alt="image"> </div>
          <div class="user-info">
            <h5>Mary O. Randle</h5>
          </div>
          <p>绝佳的体验</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Testimonials --> 



<!-- Partners-Logo -->
<section id="partners" class="section-padding">
  <div class="container">
    <div class="partners-logo"> <img src="../static/images/partners-logo.png" alt="image"> <img src="../static/images/partners-logo3.png" alt="image"> <img src="../static/images/partners-logo2.png" alt="image"> <img src="../static/images/partners-logo5.png" alt="image"> <img src="../static/images/partners-logo4.png" alt="image"> <img src="../static/images/partners-logo.png" alt="image"> </div>
  </div>
</section>
<!-- /Partners-Logo --> 

<!-- Footer -->
<footer id="footer" class="secondary-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-widgets">
            <div class="footer-logo"> <img src="../static/images/logo-white.png" alt="image"> </div>
            <p><a href="mailto:2747546199@qq.com"><strong>2747546199@qq.com</strong></a></p>
            <p><a href="tel:15327285527"><strong>(+86) 15327285527</strong></a></p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4">
              <div class="footer-widgets">
                <h5>服务</h5>
                <ul>
                  <li><a href="{{ url_for('auth.index')}}#apply">购房贷款</a></li>
                  <li><a href="{{ url_for('auth.index')}}#apply">个人贷款</a></li>
                  <li><a href="{{ url_for('auth.index')}}#apply">商业贷款</a></li>
                  <li><a href="{{ url_for('auth.index')}}#apply">教育贷款</a></li>
                  <li><a href="{{ url_for('auth.index')}}#apply">购车贷款</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="footer-widgets">
                <h5>其他</h5>
                <ul>
                  <li><a href="{{ url_for('auth.about') }}">关于我们</a></li>
                  <li><a href="{{ url_for('auth.about') }}#team">我们的团队</a></li>
                  <li><a href="{{ url_for('auth.contact') }}">联系我们</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>版权所有 &copy; 2023.BigDataLending</p>
      </div>
    </div>
  </footer>
  <!-- /Footer --> 


<!-- Scripts --> 
<script src="../static/js/jquery.min.js"></script> 
<script src="../static/js/bootstrap.min.js"></script> 
<script src="../static/js/bootstrap-slider.min.js"></script> 
<!--Custome-JS--> 
<script src="../static/js/interface.js"></script> 
<!--Carousel-JS--> 
<script src="../static/js/owl.carousel.min.js"></script>

</body>
</html>
