<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>Home</title>
<!--Bootstrap -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
<!--Bootstrap-slider -->
<link rel="stylesheet" href="../static/css/bootstrap-slider.min.css" type="text/css">
<!--OWL Carousel slider-->
<link rel="stylesheet" href="../static/css/owl.carousel.css" type="text/css">
<!--Custome Style -->
<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<!--FontAwesome Font Style -->
<link href="../static/css/font-awesome.min.css" rel="stylesheet">
<!-- Fav and touch icons -->
<link rel="shortcut icon" href="../static/images/favicon-icon/favicon.png">
<!-- Google-Font-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- Header -->

<header id="header">
  <div class="header-top primary-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-info">
            <ul>
              <li><a href="mailto:contact@weburl.com">contact@weburl.com</a></li>
              <li>+61-1234567890</li>
              <li>+021-555555</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="follow-us">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <a href="#" class="btn btn-xs">Apply Now</a> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Navigation -->
  <nav id="navigatio-_bar" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <div class="logo"> <a href="{{ url_for('auth.index') }}"><img src="../static/images/logo.png" alt="image"></a> </div>
        <!-- /Logo -->
        
        <button id="menu-slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
		<li><a href="{{ url_for('auth.index') }}">Home</a></li>
        <li><a href="{{ url_for('auth.about') }}">About Us</a></li>
        <li><a href="{{ url_for('auth.contact') }}">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navigation end --> 
</header>
<!-- /Header --> 

<!-- Intro -->
<section id="intro">
  <div class="owl-carousel">
    <div class="item dark-overlay" style="background-image:url(../static/images/intro-img1.jpg)">
      <div class="container">
        <div class="intro-text z-index text-center">
          <h1>Quick Easy & Flexible <br>
            Home Loan</h1>
          <a href="#" class="btn">Apply Loan</a> </div>
      </div>
    </div>
    <div class="item dark-overlay" style="background-image:url(../static/images/intro-img2.jpg)">
      <div class="container">
        <div class="intro-text z-index text-center">
          <h1>Your loan ailored for you brorrow</h1>
          <a href="#" class="btn">Apply Loan</a> </div>
      </div>
    </div>
    <div class="item dark-overlay" style="background-image:url(../static/images/intro-img3.jpg)">
      <div class="container">
        <div class="intro-text z-index text-center">
          <h1>For your dream car get <br>
            Best Car Loan!</h1>
          <a href="#" class="btn">Apply Loan</a> </div>
      </div>
    </div>
  </div>
</section>
<!-- /Intro --> 

<!-- Interest-rates -->
<section id="interet-rates">
  <div class="container">
    <h5>Affordable Interest Rates</h5>
    <div class="owl-carousel">
      <div class="item">
        <div class="rates-box">
          <div class="icon-box home-loan-icon"> <img src="../static/images/home-loan.png" alt="image"> </div>
          <h6>Home Loan</h6>
          <p>@9.90%</p>
        </div>
      </div>
      <div class="item">
        <div class="rates-box">
          <div class="icon-box business-loan-icon"> <img src="../static/images/business-loan.png" alt="image"> </div>
          <h6>Business Loan</h6>
          <p>@14.90%</p>
        </div>
      </div>
      <div class="item">
        <div class="rates-box">
          <div class="icon-box car-loan-icon"> <img src="../static/images/car-loan.png" alt="image"> </div>
          <h6>Car Loan</h6>
          <p>@11.90%</p>
        </div>
      </div>
      <div class="item">
        <div class="rates-box">
          <div class="icon-box ecucation-loan-icon"> <img src="../static/images/education-loan.png" alt="image"> </div>
          <h6>Education Loan</h6>
          <p>@6.90%</p>
        </div>
      </div>
      <div class="item">
        <div class="rates-box">
          <div class="icon-box personal-loan-icon"> <img src="../static/images/personal-loan.png" alt="image"> </div>
          <h6>Personal Loan</h6>
          <p>@15.90%</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Interest-rates --> 

<!-- About-us -->
<section id="about-us" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <div class="section-title">Get help</div>
      <h2>Get the financial help you need with the service you deserve.</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 order-12">
        <div class="image-box"> <img src="../static/images/700x510.jpg" alt="image"> </div>
      </div>
      <div class="col-lg-6">
        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences</p>
        <p>Euman happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences.</p>
        <a href="#" class="btn">View Services</a> </div>
    </div>
  </div>
</section>
<!-- /About-us --> 

<!-- Our-Services -->
<section id="services" class="section-padding gray-bg">
  <div class="container">
    <div class="section-header text-center">
      <div class="section-title">Our Services</div>
      <h2>We’re here to help you when you need financial support</h2>
    </div>
    <div id="our-services">
      <div class="owl-carousel">
        <div class="item text-center">
          <div class="service-icon"> <img src="../static/images/home-loan.png" alt="image"> </div>
          <h5>Home Loan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
          <a href="#" class="btn btn-sm">Know More</a> </div>
        <div class="item text-center">
          <div class="service-icon"> <img src="../static/images/business-loan.png" alt="image"> </div>
          <h5>Business Loan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
          <a href="#" class="btn btn-sm">Know More</a> </div>
        <div class="item text-center">
          <div class="service-icon"> <img src="../static/images/car-loan.png" alt="image"> </div>
          <h5>Car Loan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
          <a href="#" class="btn btn-sm">Know More</a> </div>
        <div class="item text-center">
          <div class="service-icon"> <img src="../static/images/education-loan.png" alt="image"> </div>
          <h5>Education Loan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
          <a href="#" class="btn btn-sm">Know More</a> </div>
        <div class="item text-center">
          <div class="service-icon"> <img src="../static/images/personal-loan.png" alt="image"> </div>
          <h5>Personal Loan</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
          <a href="#" class="btn btn-sm">Know More</a> </div>
      </div>
    </div>
  </div>
</section>
<!-- /Our-Services --> 

<!-- Process -->
<section id="proecess" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <div class="section-title">Easy process</div>
      <h2>Fast & Easy Application Process</h2>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="steps">
          <div class="icon-wrap"> <img src="../static/images/choose-loan.png" alt="image"> <span class="steps-number">1</span> </div>
          <h5>Choose Loan Amount</h5>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
        </div>
        <div class="steps">
          <div class="icon-wrap"> <img src="../static/images/get-loan.png" alt="image"> <span class="steps-number">2</span> </div>
          <h5>Approved Your Loan</h5>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
        </div>
        <div class="steps">
          <div class="icon-wrap"> <img src="../static/images/business-loan.png" alt="image"> <span class="steps-number">3</span> </div>
          <h5>Get Your Cash</h5>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="info-box">
          <div class="box-head">
            <h5>Quick Apply for Loan</h5>
          </div>
          <div class="box-body">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Full Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email ID">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <label class="form-label">Loan Amount</label>
                <input id="loan_amount" type="text" data-slider-min="1" data-slider-max="500000" data-slider-step="1" data-slider-value="3">
                <label class="form-label sm-label"><span id="ex6CurrentSliderValLabel">$<span id="loan_amountSliderVal"> 3</span></span></label>
              </div>
              <div class="form-group select">
                <select class="form-control">
                  <option>Type of Loan</option>
                  <option>Home Loan</option>
                  <option>Business Loan</option>
                  <option>Car Loan</option>
                  <option>Education Loan</option>
                  <option>Personal Loan</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Years</label>
                <input id="loan_period" type="text" data-slider-min="1" data-slider-max="20" data-slider-step="1" data-slider-value="3">
                <label class="form-label sm-label"><span id="ex6CurrentSliderValLabel"><span id="loan_periodSliderVal">3</span> Year</span></label>
              </div>
              <div class="form-group">
                <input type="submit" value="Submit Quote" class="btn">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Process --> 

<!-- Facts -->
<section id="facts" class="section-padding dark-overlay parallex-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="facts-box z-index">
          <div class="icon-box"><i class="fa fa-dollar"></i></div>
          <h3>2000+</h3>
          <p>No of Loans Disbursed</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="facts-box z-index">
          <div class="icon-box"><i class="fa fa-bank"></i></div>
          <h3>100+</h3>
          <p>No. of Banking Partners</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="facts-box z-index">
          <div class="icon-box"><i class="fa fa-clock-o"></i></div>
          <h3>4+ Days</h3>
          <p>Average Processing Time</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Facts --> 

<!-- Testimonials -->
<section id="testimonials" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <div class="section-title">Awesome Testimonials</div>
      <h2>What People are Saying</h2>
    </div>
    <div class="owl-carousel">
      <div class="item">
        <div class="reviews-box">
          <div class="user-img"> <img src="../static/images/400x400.jpg" alt="image"> </div>
          <div class="user-info">
            <h5>Mary O. Randle</h5>
            <p>Education Loan</p>
          </div>
          <p>I had a good experience with Insight Loan Services. I am thankful to insight for the help you guys gave me. My loan was easy and fast. thank you Insigtht</p>
        </div>
      </div>
      <div class="item">
        <div class="reviews-box">
          <div class="user-img"> <img src="../static/images/400x400-2.jpg" alt="image"> </div>
          <div class="user-info">
            <h5>Mary O. Randle</h5>
            <p>Education Loan</p>
          </div>
          <p>I had a good experience with Insight Loan Services. I am thankful to insight for the help you guys gave me. My loan was easy and fast. thank you Insigtht</p>
        </div>
      </div>
      <div class="item">
        <div class="reviews-box">
          <div class="user-img"> <img src="../static/images/400x400-4.jpg" alt="image"> </div>
          <div class="user-info">
            <h5>Mary O. Randle</h5>
            <p>Education Loan</p>
          </div>
          <p>I had a good experience with Insight Loan Services. I am thankful to insight for the help you guys gave me. My loan was easy and fast. thank you Insigtht</p>
        </div>
      </div>
      <div class="item">
        <div class="reviews-box">
          <div class="user-img"> <img src="../static/images/400x400-5.jpg" alt="image"> </div>
          <div class="user-info">
            <h5>Mary O. Randle</h5>
            <p>Education Loan</p>
          </div>
          <p>I had a good experience with Insight Loan Services. I am thankful to insight for the help you guys gave me. My loan was easy and fast. thank you Insigtht</p>
        </div>
      </div>
      <div class="item">
        <div class="reviews-box">
          <div class="user-img"> <img src="../static/images/400x400-3.jpg" alt="image"> </div>
          <div class="user-info">
            <h5>Mary O. Randle</h5>
            <p>Education Loan</p>
          </div>
          <p>I had a good experience with Insight Loan Services. I am thankful to insight for the help you guys gave me. My loan was easy and fast. thank you Insigtht</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Testimonials --> 

<!-- Blog -->
<section id="blog" class="section-padding gray-bg">
  <div class="container">
    <div class="section-header text-center">
      <div class="section-title">Banking News</div>
      <h2>Latest Finance and Business News from Loan eCapical</h2>
    </div>
    <div class="row">
      <article class="col-lg-4">
        <div class="post-wrap">
          <div class="post-img"> <a href="#"><img src="../static/images/800x500.jpg" alt="image"></a> </div>
          <h4><a href="#">On the other hand, we denounce with righteous</a></h4>
          <div class="post-meta">
            <ul>
              <li><a href="#">Aug 25, 2017</a></li>
              <li>By <a href="#">Admin</a></li>
            </ul>
          </div>
          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give.</p>
        </div>
      </article>
      <article class="col-lg-4">
        <div class="post-wrap">
          <div class="post-img"> <a href="#"><img src="../static/images/800x500-2.jpg" alt="image"></a> </div>
          <h4><a href="#">On the other hand, we denounce with righteous</a></h4>
          <div class="post-meta">
            <ul>
              <li><a href="#">Aug 25, 2017</a></li>
              <li>By <a href="#">Admin</a></li>
            </ul>
          </div>
          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give.</p>
        </div>
      </article>
      <article class="col-lg-4">
        <div class="post-wrap">
          <div class="post-img"> <a href="#"><img src="../static/images/800x500-3.jpg" alt="image"></a> </div>
          <h4><a href="#">On the other hand, we denounce with righteous</a></h4>
          <div class="post-meta">
            <ul>
              <li><a href="#">Aug 25, 2017</a></li>
              <li>By <a href="#">Admin</a></li>
            </ul>
          </div>
          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give.</p>
        </div>
      </article>
    </div>
  </div>
</section>
<!-- /Blog --> 

<!-- Partners-Logo -->
<section id="partners" class="section-padding">
  <div class="container">
    <div class="partners-logo"> <img src="../static/images/partners-logo.png" alt="image"> <img src="../static/images/partners-logo3.png" alt="image"> <img src="../static/images/partners-logo2.png" alt="image"> <img src="../static/images/partners-logo5.png" alt="image"> <img src="../static/images/partners-logo4.png" alt="image"> <img src="../static/images/partners-logo.png" alt="image"> </div>
  </div>
</section>
<!-- /Partners-Logo --> 

<!-- Footer -->
<footer id="footer" class="secondary-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-widgets">
          <div class="footer-logo"> <img src="../static/images/logo-white.png" alt="image"> </div>
          <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized dislike with men.</p>
          <p><a href="mailto:contact@weburl.com"><strong>contact@weburl.com</strong></a></p>
          <p><a href="tel:5551234564513"><strong>(555) 1234564513</strong></a></p>
          <div class="follow-us">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-widgets">
              <h5>Our Services</h5>
              <ul>
                <li><a href="#">Home Loan</a></li>
                <li><a href="#">Personal Loan</a></li>
                <li><a href="#">Business Loan</a></li>
                <li><a href="#">Education Loan</a></li>
                <li><a href="#">Car Loan</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-widgets">
              <h5>Usefull Links</h5>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="footer-widgets">
              <h5>Other Links</h5>
              <ul>
                <li><a href="#">Apply Now</a></li>
                <li><a href="#">EMI Calculator</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>Copyright &copy; 2019.Company name All rights reserved.</p>
    </div>
  </div>
</footer>
<!-- /Footer --> 

<!-- Scripts --> 
<script src="../static/js/jquery.min.js"></script> 
<script src="../static/js/bootstrap.min.js"></script> 
<script src="../static/js/bootstrap-slider.min.js"></script> 
<!--Custome-JS--> 
<script src="../static/js/interface.js"></script> 
<!--Carousel-JS--> 
<script src="../static/js/owl.carousel.min.js"></script>
<style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
<div class="copyrights">
	Collect from <a href="http://www.cssmoban.com/"  title="网站模板">模板之家</a>
	<a href="https://www.chazidian.com/"  title="查字典">查字典</a>
</div>
</body>
</html>
